{% extends "base.html" %}
{% load user_extras %}
{% load complaint_extras %}
{% block page_title %}Complaint show by hash{% endblock %}
{% block content %}

{% if not user.is_authenticated %}
	<div class="container">
	    <div class="jumbotron">
	        <p>Not being a user, we cannot link the complaint to thy profile.</p>
	        <p>... But fear not!!! Thou shalt be able to useth this link whenever thou wishes to gaze upon thy complaint.</p>
	        <a href="{% url 'complaints:hash_show' complaint.hash_value %}">{{request.get_host}}{% url 'complaints:hash_show' complaint.hash_value %}</a>
	    </div>
	</div>
{% endif %}

<div class="container">
    <div class="jumbotron table-responsive">

    	<table class="table table-hover table-bordered">
            <thead>
                <tr class="dashboard-table-head-size">
                    <th class="text-center col-md-1">ID на жалбата</th>
                    <th class="text-center col-md-2">Институция</th>
                    <th class="text-center col-md-2">Форма</th>
                    <th class="text-center col-md-2">Дата на подаване</th>
                    <th class="text-center col-md-1">Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr class="dashboard-text-size">
                    <td id="align-vert" class="text-center">
                        <a id="blue_background" href="{% url 'complaints:show' complaint.id %}" class="btn btn-primary lab label" role="button">Жалба №{{ complaint.id}}</a>
                    </td>
                    <td id="align-vert" class="text-center">{{complaint.form.institution.name}}</td>
                    <td id="align-vert" class="text-center">{{complaint.form.name}}
                    <td id="align-vert" class="text-center">{{complaint.created_at|date:"G:i d.m.Y"}}</td>
                    <td id="align-vert" class="text-center">
        {% if complaint.status == 2 %}

                        <span id="status" class="label label-success label-as-status">Разрешена</span>
                  {% elif complaint.status == 1 %}

                        <span id="status" class="label label-danger label-as-status">Отхвърлена</span>
                  {% elif complaint.status == 0 %}

                        <span id="status" class="label label-warning label-as-status">Чакаща разглеждане</span>
                  {% endif %}

                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th class="text-center col-md-2">Име на полето</th>
                    <th class="text-center col-md-6">Описание</th>
                </tr>
            </thead>
            <tbody>
	          {% for fill in fills %}
                  {% is_hidden fill as hidden %}
                  {% if not hidden %}
                    <tr>
                        <td class="text-center">{{fill.field_name}}</td>
                        <td class="text-center">{{fill.val}}</td>
                    </tr>
                {% endif %}
			  {% endfor %}

		      {% for file in files %}

                <tr>
                    <td>
                        <a href = "{{file.val.name}}">{{file.field_name}}</a>
                    </td>
                </tr>
			  {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="action-box jumbotron">
        <div class="detailBox">
            <div class="titleBox">
                <label class="dashboard-table-head-size">Коментари и обратна връзка</label>
                <button type="button" class="close" aria-hidden="true">&times;</button>
            </div>
            <div class="actionBox">
                <ul class="commentList">
		  	{% for comment in comments %}
                    <li class="text_color">
                        <div class="commentText">
                            <strong id="comment-size">{{ comment.text }}</strong><br>
                            <span class="date sub-text">{{comment.date|date:"G:i d.m.Y"}}</span>
                        </div>
                    </li>
	         {% endfor %}

                </ul>
                <form class="form-inline" role="form" method="post" action="{{ request.path }}">
                    <div class="form-group">
                        <input class="form-control" type="text" name="comment_text" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" id="blue_background">Пост</button>
                    </div>
	            {% csrf_token %}

                </form>
            </div>
        </div>
    </div>
    <style>

.detailBox {
    width:90%;
    border:1px solid #bbb;
   	margin-left: 5%;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:14px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
	</style>

{% endblock content %}
