{% load i18n %}
{% load staticfiles %}
{% load base_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block page_title %}ПодайСигнал{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta charset="utf-8">
    <meta name="keywords" content="Институции,Република,България,държавнир,сигнал,оплакване,граждани,общество">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>ПодайСигнал</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="screen">
    <link href="{% static 'css/material.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ripples.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body>

	<div class="navbar navbar-invers menu-wrap">
      <div class="navbar-header text-center">
        <a class="navbar-brand logo-right" href="javascript:void(0)">
        <i class="glyphicon glyphicon-menu-down"></i>ПодайСигнал</a>
      </div>
        <ul class="nav navbar-nav main-navigation">
        	<li><a href="/"><span class="glyphicon glyphicon-eye-open"></span> Начална страница</a></li>
          {% is_institution user as is_institution %}
          {% if not is_institution %}
         	<li><a href="/forms/"><span class="glyphicon glyphicon-open"></span> Подай сигнал</a></li>
	        {% endif %}
          {% if user.is_authenticated %}
            {% if not is_institution %}
    	        <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> Профил</a></li>
    	        <li><a href="{% url 'dashboard' %}"><span class="glyphicon glyphicon-user"></span> Dashboard</a></li>
  	        {% endif %}
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Излез</a></li>
          {% else %}
  	        	<li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> Влез</a></li>
  	        	<li><a href="/accounts/signup"><span class="glyphicon glyphicon-registration-mark"></span> Регистрирай се</a></li>
	        {% endif %}
        </ul>
        <button class="close-button" id="close-button">Затвори</button>
    </div>

    <div class="content-wrap">

     <header class="main-page" id="home">

      <div class="container">
          <div class="col-md-12">

            <div class="navbar navbar-inverse sticky-navigation navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="200">
              <div class="container">
                <div class="navbar-header">
                  <a class="logo-left" href="/"><i class="glyphicon glyphicon-play-circle"></i>ПодайСигнал</a>
                </div>
                <div class="navbar-right" style="float:right !important;">
                  <button class="menu-icon"  id="open-button" class="glyphicon glyphicon-play-circle">
					<span id="glyphicon-big" class="glyphicon glyphicon-menu-hamburger" class="mdi-navigation-menu"></span>
                  </button>
                </div>
              </div>
            </div>
        </div>

         <ul class="messages">
        {% for message in messages %}
        	{% if message.tags == 'success' %}
        	<div class="alert alert-success" id="message">
        	{% elif message.tags == 'error' %}
        	<div class="alert alert-danger" id="message">
        	{% endif %}
			{{ message }}
        	</div>
			</div>
		{% endfor %}
  		</ul>

        {% block content %}
  		{% endblock %}

  		{% block queries %}
  		{% endblock %}

 		<footer class="footer"></footer>
  	</header>
  	</div>



  	</div>


    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ripples.min.js' %}"></script>
    <script src="{% static 'js/material.min.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/jquery.mmenu.min.all.js' %}"></script>
    <script src="{% static 'js/count-to.js' %}"></script>
    <script src="{% static 'js/jquery.inview.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/jquery.nav.js' %}"></script>
    <script src="{% static 'js/smooth-on-scroll.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.js' %}"></script>

     <script>
        $(document).ready(function() {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });

        //removes the message (fading out)
	    window.setTimeout(function() {
	            $("#message").fadeTo(1500, 0).slideUp(500, function(){
	                $(this).remove();
	            });
	        }, 3000);
    </script>
</body>
</html>
