{% extends "base.html" %}
{% load url from future %}

{% block content %}
{% load i18n %}
{% load staticfiles %}
  	
  	<div class="contents text-right">
          <h1 class="wow fadeInRight" id="head_color" data-wow-duration="1000ms" data-wow-delay="300ms">ПодайСигнал - Отворен портал към институциите на Република България</h1>
          <p class="wow fadeInRight" id="small_head_color" data-wow-duration="1000ms" data-wow-delay="400ms">Лесен достъп, ефективна комуникация</p>
          <a href="/forms/" class="btn btn-lg btn-primary wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Подай сигнал</a>
          <a href="#features" class="btn btn-lg btn-border wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">Услуги</a>
    </div>  

    <section id="features" class="section">
      <div class="container">
        <div class="section-header">
          <h1 class="section-title wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="100ms">Услуги на ПодайСигнал</h1>
          <h2 class="section-subtitle wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="400ms">За по-добра комуникация между гражданите и институциите</h2>
        </div>
        <div class="row">

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="features">
              <div class="icon">
                <i class="glyphicon glyphicon-time"></i>
              </div>
              <div class="features-text">
                <h4>Бързо и компактно</h4>
                <p class="home-text-description">
                  Единствената по рода си централизирана система за достъп
                  до предоставяните от държавните институции бланки
                </p>
              </div>
             </div>
          </div>


          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="features">
              <div class="icon">
                <i class="glyphicon glyphicon-copy"></i>
              </div>
              <div class="features-text">
                <h4>Лесно и удобно</h4>
                <p class="home-text-description">
                  Лесно попълване на форми и автоматично попълване на отделни полета за регистрирани потребители
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="features">
              <div class="icon">
                <i class="glyphicon glyphicon-briefcase"></i>
              </div>
              <div class="features-text">
                <h4>Отговорност и сигурност</h4>
                <p class="home-text-description">
                  Всички подадени данни остават напълно конфиденциални, достъп имате само Вие и съответната институция,
                  към която е подаден Вашият сигнал
                </p>
              </div>
            </div>
          </div>            


          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="features">
              <div class="icon">
                <i class="glyphicon glyphicon-check"></i>
              </div>
              <div class="features-text">
                <h4>Прозрачност</h4>
                <p class="home-text-description">
                  Прозрачна система за комуникация между Вас и съответната институция, в която Вие следите
                  цялостното развитие на един сигнал
                </p>
              </div>
            </div>
          </div> 

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="features">
              <div class="icon">
                <i class="glyphicon glyphicon-transfer"></i>
              </div>
              <div class="features-text">
                <h4>Обратна връзка</h4>
                <p class="home-text-description">
                  Във всеки един етап от обработката на Вашия сигнал имате достъп до канал за обратна връзка,
                  допълване на информацията и задаване на въпроси
                </p>
              </div>
            </div>
          </div> 

          <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="features">
              <div class="icon">
                <i class=" glyphicon glyphicon-list-alt"></i>
              </div>
              <div class="features-text">
                <h4>Удобна потребителска секция</h4>
                <p class="home-text-description">
                  Само Вие имате достъп до личната Ви потребителска секция, в която може да намирате всички сигнали,
                  тяхното съдържание и статус
                </p>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </section>
{% endblock %}