{% extends "base.html" %}

{% load user_extras %}

{% block page_title %}Profile{% endblock %}

{% block content %}

<div class="container jumbotron text_color">
  <h2 class="form_header">Профил</h2>
  <form role="form" method="post" action="{% url 'submit' cur_user.id %}" onsubmit="unloadPage()">
  	{% csrf_token %}
    <div class="form-group">
      <label for="email">Първо име:</label>
       <input type="text" class="form-control" id="email" placeholder="Въведете първо име" value="{{ params|filter:'first_name' }}" name="first_name" />
    </div>
    <div class="form-group">
      <label for="pwd">Фамилия:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Въведете фамилия" value="{{ params|filter:'last_name' }}" name="last_name" />
    </div>
    
    <div class="form-group">
      <label for="email">Град:</label>
      <input type="text" class="form-control" id="email" placeholder="Въведете град" value="{{ params|filter:'city' }}" name="city" />
    </div>
    <div class="form-group">
      <label for="pwd">Телефон:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Въведете телефонен номер" value="{{ params|filter:'phone' }}" name="phone" />
    </div>

    <div class="form-group">
      <label for="email">Email адрес:</label>
      <input type="email" class="form-control" id="email" placeholder="Въведете email address" value="{{ params|filter:'email' }}" name="email"/>
    </div>

    <div class="form-group">
      <label for="text">Адрес:</label>
      <input type="text" class="form-control" id="email" placeholder="Въведете адрес" value="{{ params|filter:'address' }}" name="address"/>
    </div>
    
    <div class="form-group">
      <label for="email">Парола:</label>
      <input name="new_pass" type="password" class="form-control" id="email" placeholder="Въведете нова парола (ако желаете смяна на старата)"/>
    </div>

    <div class="form-group">
    <div id="tooltip" class="tooltip"></div>
      <label for="email">Сегашна парола:</label>
      <a data-toggle="tooltip" title="В случай, че сте създали нова, въведете тук старата си парола.">
        <input name="old_pass" type="password" class="form-control" id="email" placeholder="Въведете паролa." />        
      </a>
    </div>

    <button type="submit" class="btn btn-primary" id="blue_background" data-toggle="modal" data-target="#myModal">Обнови</button>
  </form>
</div>
{% endblock content %}

  {% block queries %}
  <script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
  });

  // black magic to detect changes in form with confirmations and things
  // DO NOT TOUCH
  dataChanged = 0;
  function bindForChange(){    
       $('input,checkbox,textarea,radio,select').bind('change',function(event) { dataChanged = 1})
       $(':reset,:submit').bind('click',function(event) { dataChanged = 0 })
  }
  function askConfirm(){  
      if (dataChanged){ 
          return "You have some unsaved changes.  Press OK to continue without saving." 
      }
  }
  window.onbeforeunload = askConfirm;
  window.onload = bindForChange;
  </script>
  {% endblock queries %}
