{% extends "base.html" %}  
{% load complaint_extras %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}
<style>
    p { color: black; }
</style>

<div class="container">
    <div class="jumbotron table-responsive">
    {% if not complaints %}
        <p>Тук стои списък с подадените от Вас сигнали.</p>
        <p>Изглежда, че все още не сте подавали сигнал.</p>
        <p>Ако желаете, може да направите това от <a href="/forms/">тук</a>.</p>
    {% else %}
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="dashboard-table-head-size">
                    <th class="text-center col-md-4">ID на жалбата</th>
                    <th class="text-center col-md-4">Дата на пращане</th>
                    <th class="text-center col-md-4">Статус</th>
                </tr>
            </thead>
            <tbody>
      {% for complaint in complaints %}
      
                <tr class="dashboard-text-size">
                    <td id="align-vert" class="text-center">
                        <a href="{% url 'complaints:show' complaint.id %}" class="btn btn-info lab label" id="blue_background" role="button">Жалба №{{ complaint.id}}</a>
                    </td>
                    <td id="align-vert" class="text-center">{{ complaint.created_at|date:"d.m.Y" }}</td>
                    <td id="align-vert" class="text-center">
        {% if complaint.status == 2 %}
                    
                        <span id="status" class="label label-success label-as-status">Разрешена</span>
                  {% elif complaint.status == 1 %}
                    
                        <span id="status" class="label label-danger label-as-status">Отхвърлена</span>
                  {% elif complaint.status == 0 %}
                      
                        <span id="status" class="label label-warning label-as-status">Чакаща разглеждане</span>
                  {% endif %}
        
                    </td>
                </tr>
      {% endfor %}
    
            </tbody>
        </table>
    {% endif %}
    </div>
</div>
{% endblock content %}  