@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,100);
body {
  font-family: 'Roboto', sans-serif;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
}
.btn {
  font-size: 14px;
  font-weight: 400;
}
.btn-border {
  background: transparent;
  border: 1px solid #fff;
  color: #fff !important;
}
.btn-border:hover {
  background: rgba(255, 255, 255, 0.08);
}
.clear {
  clear: both;
}
.row {
  padding: 30px 0;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}
.section {
  padding: 90px 0;
}
.section-header .section-title {
  font-size: 38px;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 700;
  color: #00906C;
}
.section-header .section-subtitle {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  color: #3f51b5;
}
.title-small {
  font-size: 38px;
  color: #3f51b5;
  margin-bottom: 30px;
  line-height: 50px;
}

.home-text-description{
  color: #00906C;
  font-weight: bold;
  text-align: justify;
}

.content-wrap {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  height: 100%;
}
.show-menu .content-wrap {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}
.navbar-fixed-top {
  padding: 15px 0;
}
.affix {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  padding: 0!important;
  background: #3f51b5 !important;
}
.sticky-navigation .row {
  padding: 0;
}
.navbar.menu-wrap .navbar-header {
  margin: 0 85px;
  float: none;
}
.navbar.menu-wrap {
  position: fixed;
  width: 250px;
  top: 0;
  right: 0;
  min-height: 100%;
  border-radius: 0;
  margin: 0;
  z-index: 9999;
  height: 100%;
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.navbar-nav {
  margin: 0;
  float: none;
}
.navbar .navbar-nav li {
  float: none;
}
.navbar .navbar-nav li a {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size: 14px;
  padding: 15px 20px;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li .active a {
  background: rgba(255, 255, 255, 0.1);
}
.show-menu .navbar.menu-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.navbar.menu-wrap .navbar-form {
  padding: 10px 20px;
  margin: 5px 0;
  border: none;
  box-shadow: none;
  display: block;
}
.navbar.menu-wrap .navbar-form .form-control {
  display: block;
  width: 100%;
}
.logo-left {
  color: #fff;
  font-size: 24px;
}
.logo-left i {
  margin-right: 7px;
}
.logo-right {
  margin-bottom: 15px;
  margin-left: -10px;
}
.close-button {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 15px;
  top: 30px;
  overflow: hidden;
  text-indent: 10px;
  border: none;
  background: transparent;
  color: transparent;
}
.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #bdc3c7;
}
.close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close-button:hover:before,
.close-button:hover:after {
  background: #fff;
}
.navbar .navbar-header {
  padding: 13px 0;
}
.menu-icon {
  background: transparent;
  border: none;
  margin-right: 15px;
  margin-top: 15px;
}
.menu-icon i {
  font-size: 50px;
}
.menu-icon i:hover {
  color: #fff;
}
@media (max-width: 768px) {
  body.toggled {
    position: fixed;
  }
}
.main-page {
 background: url(../img/hero-area.jpg) no-repeat;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center bottom;
 padding: 90px 0;
 width:100%;
 height:100%;

}
.main-page .sticky-navigation {
  background: transparent;
}
.main-page .contents h1 {
  font-size: 30px;
  font-weight: 100;
}
.main-page .contents p {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.main-page .contents .btn {
  margin: 15px;
}
@media (min-width: 1200px) {
  .contents {
    padding: 280px 0;
  }
  .main-page h1 {
    font-size: 50px !important;
  }
}

#features .features {
  margin: 30px 0;
}
#features .features .icon {
  float: left;
  text-align: center;
}
#features .features .icon i {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  font-size: 36px;
  color: #3f51b5;
}
#features .features h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #3f51b5;
}
#features .features .features-text {
  padding-left: 80px;
}
#features .features .features-text p {
  margin: 0;
}
#why {
  background: url(../img/why-bg.jpg);
  background-size: cover;
  color: #fff;
}
#why .content h2 {
  font-size: 50px;
  line-height: 70px;
  margin-top: 0;
  font-weight: 100;
}
#why .content .list-item li {
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  text-transform: uppercase;
}
#why .content .list-item li i {
  font-size: 32px;
  padding-right: 5px;
  vertical-align: middle;
}
#why img {
  float: right;
}
#why .feature-item {
  padding: 48px 0;
}
#cta {
  background: #3f51b5;
}
#cta .drawer {
  float: left;
  margin-right: 40px;
}
#cta .title-small {
  color: #fff;
}
.main-feature-gray {
  background: #ecf0f1;
}
#screenshot .section-header {
  margin-bottom: 80px;
}
#screenshot .portfolio-item {
  padding: 30px 0;
}
#screenshot .portfolio figure {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: auto;
  text-align: center;
  cursor: pointer;
}
#screenshot .portfolio figure img {
  width: 100%;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease 0s;
}
#screenshot .portfolio figure figcaption {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  padding: 50px;
  color: #fff;
}
#screenshot .portfolio figure figcaption .heading {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 15%;
  padding: 0px 62px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease 0s;
}
#screenshot .portfolio figure figcaption .heading p {
  padding: 0px 24px;
  font-size: 16px;
}
#screenshot .portfolio figure .icon {
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease 0s;
}
#screenshot .portfolio figure .icon i {
  font-size: 38px;
}
#screenshot .portfolio figcaption:hover .heading {
  top: 20%;
}
#screenshot .portfolio figcaption:hover .icon {
  top: 60%;
}
#screenshot .portfolio figure.effect-julia figcaption {
  background: rgba(63, 81, 181, 0.8);
  opacity: 0;
  -webkit-transition: 1s ease 0.15s;
  -moz-transition: 1s ease 0.15s;
  -o-transition: 1s ease 0.15s;
  transition: 1s ease 0.15s;
}
#screenshot .portfolio figure.effect-julia figcaption:hover {
  opacity: 1;
}
#screenshot .portfolio figure.effect-julia:hover img {
  -webkit-transform: scale3d(1.2, 1.3, 1);
  -moz-transform: scale3d(1.2, 1.3, 1);
  transform: scale3d(1.2, 1.3, 1);
}
#other-features {
  padding-bottom: 35px;
}
#other-features .features-content {
  padding: 30px 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
#other-features .features-content .icon i {
  font-size: 30px;
  color: #ccd0d2;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
#other-features .features-content h3 {
  color: #385461;
  line-height: 30px;
  font-size: 24px;
  font-weight: 300;
}
#other-features .features-content p {
  color: #909090;
  line-height: 22px;
  padding: 0px 4px;
}
#other-features .features-content:hover i,
#other-features .features-content:hover h3 {
  color: #3f51b5;
}
#testimonial {
  width: 100%;
  background: url(../img/testimonial-bg.jpg);
}
#testimonial .section-title {
  color: #fff;
  font-size: 46px;
}
#testimonial .section-subtitle {
  color: #fff;
  font-size: 13px;
}
#testimonial .carousel-inner p {
  color: #fff;
  letter-spacing: 1px;
  padding: 0px 20px;
}
#testimonial .carousel-inner p a {
  color: #fff;
}
#testimonial .carousel-inner .meta {
  margin-top: 50px;
}
#testimonial .carousel-inner .meta p {
  color: #ccc;
}
#testimonial .carousel-inner .meta p a {
  color: #fff;
}
#testimonial .carousel-indicators {
  position: absolute;
  bottom: -40px;
}
#testimonial .carousel-indicators li {
  background-color: #697e88;
  border-color: #697e88;
}
#testimonial .carousel-indicators .active {
  background-color: #fff;
  border-color: #fff;
}
#counter {
  background: #ecf0f1;
}
#counter .counter-item .icon {
  text-align: center;
}
#counter .counter-item .icon i {
  font-size: 54px;
  color: #ccd0d2;
  line-height: 64px;
}
#counter .counter-item h5 {
  text-align: center;
  color: #3f51b5;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 32px;
}
#counter .counter-item hr {
  width: 50px;
  margin: 0px auto;
  height: 2px;
  background: #009688;
}
#counter .timer {
  font-size: 50px;
  font-weight: 100;
  color: #3f51b5;
  text-transform: uppercase;
  text-align: center;
  line-height: 80px;
}
#clients .client-item-wrapper {
  text-align: center;
}
#contact {
  background: #ecf0f1;
}
#contact .info {
  padding: 15px 0;
}
#contact .info .icon {
  margin-bottom: 20px;
}
#contact .info .icon i {
  font-size: 36px;
  color: #3f51b5;
}
#contact .info h4 {
  color: #385461;
  font-size: 24px;
  font-weight: 400;
}
#contact .info p {
  color: #909090;
}
.contact-form {
  margin-top: 52px;
}
.contact-form i {
  position: absolute;
  right: 15px;
}
.contact-form .form-control {
  margin-bottom: 28px;
}
#footer {
  position: relative;
  background: #333;
}
#footer h3 {
  color: #fff;
  font-weight: 900;
}
#footer ul li a {
  color: #ccc;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  line-height: 28px;
  text-transform: uppercase;
}
#footer ul li a:hover {
  color: #fff;
  margin-left: 4px;
}
#copyright {
  background: #191919;
}
#copyright .copyright-text {
  color: #fff;
  margin-top: 15px;
  text-align: center;
}
#copyright .copyright-text a {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.back-to-top {
  position: absolute;
  top: -28px;
  left: 50%;
  margin: 0px -25px;
}
.back-to-top {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  padding: 0;
  margin: 0 -30px;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
}
.back-to-top i {
  line-height: 56px;
  font-size: 42px;
}
.social {
  display: inline-block;
  margin: 10px 2px;
  color: #fff;
}
.social i {
  width: 48px;
  font-size: 16px;
  height: 48px;
  background: rgba(255, 255, 255, 0.18);
  text-align: center;
  line-height: 48px;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social i:hover {
  color: #fff;
}
.social .fa-facebook:hover {
  background: #3B5998;
}
.social .fa-twitter:hover {
  background: #00ACED;
}
.social .fa-google-plus:hover {
  background: #DD4B39;
}
.social .fa-linkedin:hover {
  background: #007BB6;
}

#glyphicon-big{
  font-size: 2.2em;
}

#head_color {
  color:#00906C;
}

#small_head_color{
  color: #3f51b5;
  font-weight: bold;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: 45%; /* negative value of footer height */
  clear:both;
}

a:hover{
  color: #005a51;
}

.text_color{
  color:#3f51b5;
}

#blue_background{
  background: #3f51b5;
}

.label-as-badge {
  border-radius: 1em;
}

.label-as-status {
  border-radius: 3px;
}

.dashboard-table-head-size{
  font-size: 22px;
  font-weight: bold;
}

.dashboard-text-size{
  font-size: 15px;
}

#comment-size{
  font-size: 17px;
}

#status{
  font-size: 15px;
}

#align-vert{
  text-align: center;
  vertical-align: middle;
}

.wrap-institution-list{
  white-space: normal;
}

.institution:hover{
  background-color:#f4f4f4;
}

.centered
{
    text-align:center;
}

.form_header{
  color:#00906C;
  font-weight: bold;
  margin-bottom: 2%;
}
