{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name" style="font-size:24px; margin-top:10px;">{% trans 'Управление на форми и сигнали' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block usertools %}
<li class="dropdown">
    {% block welcome-msg %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Welcome,' %} <strong>{% filter force_escape %}{% firstof user.get_short_name user.get_username %}{% endfilter %}</strong> <span class="caret"></span></a>
    {% endblock %}
    <ul class="dropdown-menu">
        {% if site_url %}
            <li><a href="{{ site_url }}">{% trans 'Виж сайта' %}</a></li>
        {% endif %}
        {% if user.is_authenticated and not user.is_superuser %}
            <li><a href="{% url 'inst_profile' %}">{% trans 'Профил' %}</a></li>
        {% endif %}
        {% if user.is_active and user.is_staff %}
            {% url 'django-admindocs-docroot' as docsroot %}
            {% if docsroot %}
                <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
            {% endif %}
        {% endif %}
        {% if user.has_usable_password %}
        <li><a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a></li>
        {% endif %}
        <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
    </ul>
</li>
{% endblock %}