

{% extends "admin/base_site.html" %}
{% load user_extras %}
{% load crispy_forms_tags %}
{% block page_title %}Profile{% endblock %}
{% block content %}
<div class="container">
	<h2>Профил</h2>
	<form role="form" method="post" action="{% url 'inst_profile' %}" onsubmit="unloadPage()">
		{% csrf_token %}
		{% if form.subject.errors %}
		<ol>
			{% for error in form.subject.errors %}
			<li><strong>{{ error|escape }}</strong></li>
			{% endfor %}
		</ol>
		{% endif %}
		{{ form|crispy }}
		<button type="submit" class="btn btn-default" data-toggle="modal" data-target="#myModal">Обнови</button>
	</form>
</div>
{% endblock content %}
{% block footer %}
{% endblock %}
<script type="text/javascript" src="/static/js/inst_profile.js"></script>
