{% extends "base.html" %} {% load i18n %}

{% block page_title %}Forms Index{% endblock %}


{% block content %}
	<form method="POST" action="{% url 'forms:index' %}" style="float:right; padding-right:5%">
		{% csrf_token %}
		<input type="text" name="search" placeholder="Търсене..." size="27">
		<a href=""><span class="glyphicon glyphicon-search"></span></a>
	</form>
	<br><br>
	<div class="span2 col-md-8 col-md-offset-2">
	{% if not forms %}
		<p>Все още няма създадени форми! Елате по-късно!</p>
	{% else %}
		{% for form in forms %}
			{% if form.approved %}
				<p class="institution"><a href="{{form.id}}/"><button class="btn btn-default btn-block wrap-institution-list">{{ form.name }} към {{form.institution.name}}</button></a></p>
			{% endif %}
		{% endfor %}
	{% endif %}
	</div>
{% endblock %}
