{% extends "base.html" %}

<script> $('.selectpicker').selectpicker();</script>

{% load form_extras %} <!-- Gives switch functionality in templates -->

{% block page_title %}Submit a complaint{% endblock %}

{% block content %}
<div class="container jumbotron text_color" style="padding: 0% 5%;">
  <h2 class="form_header" id="form-title">{{ form.name }}</h2>
  <form method="post" action="{% url 'forms:submit' form.id %}" enctype="multipart/form-data" role="form" id="form">
    {% csrf_token %}
    {% for field in fields %}
    {% if field.type == 8 %} <!-- hidden -->
    	{% if field.required %}
			<input type="hidden" name="{{ field.html_name }}" data-autofill="{{ field.autofill }}" required data-validation="{{ field.validation_type }}" data-minimum="{{ field.minimum }}" data-maximum="{{ field.maximum }}">
		{% else %}
			<input type="hidden" name="{{ field.html_name }}" data-autofill="{{ field.autofill }}" data-validation="{{ field.validation_type }}" data-minimum="{{ field.minimum }}" data-maximum="{{ field.maximum }}">
		{% endif %}
    {% else %}
    <div class="form-group">
	      {% if field.required %}
	      	<label for="{{ field.html_name }}">{{field.name}}: <span style="color:red;">*</span></label>
	      {% else %}
	      	<label for="{{ field.html_name }}">{{field.name}}:</label>
	      {% endif %}
	      <span data-toggle="tooltip" title="{{ field.description }}"></span>
      {% switch field.type %}
	      {% case 2 %} <!-- Textarea -->
		    {% if field.required %}
				<textarea style="resize: none;" class="form-control" id="comment" name="{{field.html_name}}" data-autofill="{{field.autofill}}"  required ></textarea>
			{% else %}
				<textarea style="resize: none;" class="form-control" id="comment" name="{{field.html_name}}" data-autofill="{{field.autofill}}" ></textarea>
			{% endif %}
		  {% case 5 %} <!-- Email -->
		  	{% if field.required %}
	   	    	<input id="login-username" type="email" class="form-control" name="{{field.html_name}}" value="" data-autofill="{{field.autofill}}"  required data-choose-one="{{ field.choose_one }}" data-label="{{ field.name }}">
	       	{% else %}
	       		<input id="login-username" type="email" class="form-control" name="{{field.html_name}}" value="" data-autofill="{{field.autofill}}" data-choose-one="{{ field.choose_one }}" data-label="{{ field.name }}">
	        {% endif %}
	      {% case 3 %} <!-- Select -->
	      	<br>
	      	{% if field.required %}
				<select class="selectpicker btn btn-default dropdown-toggle" data-toggle="dropdown" name="{{field.html_name}}"   required >
			{% else %}
				<select class="selectpicker btn btn-default dropdown-toggle" data-toggle="dropdown" name="{{field.html_name}}" >
			{% endif %}
			{% for option in field.fieldoption_set.all %}
				<option value="{{option.option}}">{{option.option}}</option>
			{% endfor %}
			</select>
	      {% case 4 %} <!-- Radio -->
	      	{% if field.required %}
				{% for option in field.fieldoption_set.all %}
					<br><input type="radio" name="{{field.html_name}}" value="{{option.option}}" required \>{{option.option}}
				{% endfor %}
			{% else %}
				{% for option in field.fieldoption_set.all %}
					<br><input type="radio" name="{{field.html_name}}" value="{{option.option}}" \>{{option.option}}
				{% endfor %}
				<br><br>
			{% endif %}
		  {% case 7 %} <!-- Checkbox -->
		  	<input type="checkbox" name="{{field.name}}" ><br>
		  {% case 6 %} <!-- File -->
		  	<br>
		  	{% if field.required %}
				<span class="btn btn-default btn-file"><input type="file" name="{{field.html_name}}" data-autofill={{field.autofill}} required ></span>
			{% else %}
				<span class="btn btn-default btn-file"><input type="file" name="{{field.html_name}}" data-autofill={{field.autofill}} ></span>
			{% endif %}
		  {% else %} <!-- Text field-->
			<span class="help-block"></span>
			{% if field.required %}
				<input type="text" class="form-control checkbox-inline" name="{{field.html_name}}" data-autofill={{field.autofill}} required data-validation="{{ field.validation_type }}" data-minimum="{{ field.minimum }}" data-maximum="{{ field.maximum }}" data-choose-one="{{ field.choose_one }}" data-label="{{ field.name }}">
			{% else %}
				<input type="text" class="form-control checkbox-inline" name="{{field.html_name}}" data-autofill={{field.autofill}} data-validation="{{ field.validation_type }}" data-minimum="{{ field.minimum }}" data-maximum="{{ field.maximum }}" data-choose-one="{{ field.choose_one }}" data-label="{{ field.name }}"> <!-- label is for choose_one alert message-->
			{% endif %}
      	{% endswitch %}
      </div>
      	<br><br>
      {% endif %}
      {% endfor %}
      <button type="submit" class="btn btn-primary" id="blue_background">Подай</button>
  </form>
</div>

  <script src="/static/js/forms_show.js"></script>
	<script>
		// Auto-fill names
		var default_fields = new Array(
			"{{ custom_user.first_name }}",
			"{{ custom_user.last_name }}",
			"{{ custom_user.city }}",
			"{{ custom_user.phone }}",
			"{{ custom_user.email }}",
			"{{ custom_user.address }}"
		);
		var fields = document.getElementsByClassName('form-control');
		for (var i = 0; i < fields.length; ++i) {
			var curr_autofill = fields[i].getAttribute("data-autofill");
			if(curr_autofill != -1){
				var fill = default_fields[curr_autofill];
				if(fill.trim() == "None") fill = '';
				if(fields[i].tagName == "TEXTAREA")
					fields[i].value = fill.replace(/&quot;/g,"\"").replace(/&#39;/g, "\'");
				else
					fields[i].setAttribute('value', fill.replace(/&quot;/g,"\"").replace(/&#39;/g, "\'"));
			}
		}

		// Fill hidden fields accordingly for Inspekciq po truda's form
		$(document).ready(function() {
			if($("h2#form-title").text() == "Сигнал за нарушение на разпоредбите на трудовото законодателство и ЗДСл") {
				$("input[type=\"hidden\"][name=\"lang_id\"").attr("value", "1");
				$("input[type=\"hidden\"][name=\"sender_ip\"").attr("value", "{{ ip }}");
				$("input[type=\"hidden\"][name=\"cookie\"").attr("value", $("{% csrf_token %}").attr("value"));
			}
		});
	</script>
{% endblock content %}
