 {% extends "base.html" %} {% load i18n %} 
 {% block page_title %}Sign up{% endblock %}
 {% block content %}

<div id="signupbox" style="margin-top: 50px"
	class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-info">
		<div id="blue_background" class="panel-heading">
			<div class="panel-title">Регистрация на институция</div>
		</div>
		<div class="panel-body">
			<form id="signupform" class="form-horizontal" role="form" method="post" action="{% url 'inst_signup' %}">
			
				{% csrf_token %}

				<div id="signupalert" style="display: none"
					class="alert alert-danger">
					<p>Error:</p>
					<span></span>
				</div>
				<div class="form-group">
					<label for="email" class="col-md-3 control-label" name="email">E-mail<span style="color:red;">*</span></label>
					<div class="col-md-9">
						<input type="email" class="form-control" name="email"
							placeholder="Email Address" required>
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="col-md-3 control-label" name="password">Парола<span style="color:red;">*</span></label>
					<div class="col-md-9">
						<input type="password" class="form-control" name="passwd"
							placeholder="Password" required>
					</div>
				</div>

				<div class="form-group">
					<label for="name" class="col-md-3 control-label" name="name">Име<span style="color:red;">*</span></label>
					<div class="col-md-9">
						<input type="input" class="form-control" name="name" required>
					</div>
				</div>

				<div class="form-group">
					<label for="phone" class="col-md-3 control-label" name="phone">Телефон</label>
					<div class="col-md-9">
						<input type="input" class="form-control" name="phone">
					</div>
				</div>

				<div class="form-group">
					<label for="address" class="col-md-3 control-label" name="address">Адрес</label>
					<div class="col-md-9">
						<input type="input" class="form-control" name="address">
					</div>
				</div>

				<div class="form-group">
					<!-- Button -->
					<div class="col-md-offset-3 col-md-9">
						<input id="btn-signup blue_backgrou" type="submit" style="background: #3f51b5"; value="Регистрирай институция" class="btn btn-info">
							<i class="icon-hand-right"></i>
						</input>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>

{% endblock %}
