{% extends "base.html" %} {% load i18n %}
{% block page_title %}Вход{% endblock %}
{% block content %}
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Забравена парола</h4>
			</div>
			<div class="modal-body">
				<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
					{% csrf_token %}
					<p>
						<label for="id_email">E-mail:</label>
						<input id="id_email" name="email" size="30" type="email">
					</p>
					{{ form.as_p }}
					<input type="submit" value="{% trans 'Обнови паролата' %}" class="btn btn-info" id="blue_background" />
				</form>
			</div>
		</div>
	</div>
</div>
<div id="loginbox" style="margin-top: 50px;"
	class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-info">
		<div class="panel-heading" id="blue_background">
			<div class="panel-title">Влез</div>
		</div>
		<div style="padding-top: 30px" class="panel-body">
			<div style="display: none" id="login-alert"
				class="alert alert-danger col-sm-12"></div>
			<form id="loginform" class="form-horizontal" role="form"
				method="post" action="/accounts/login">
				{% csrf_token %}
				<div style="margin-bottom: 25px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-user"></i></span> <input id="login-username"
						type="email" class="form-control" name="email" value=""
						placeholder="Email address" required />
				</div>
				<section ng-app="myApp" ng-controller="mainCtrl">
					<div style="margin-bottom: 25px" class="input-group">
						{% verbatim %}
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-lock"></i></span>
						<input type="password"
							placeholder="Password" class="form-control" name="password" value=""
							id="pword" required />
						{% endverbatim %}
					</div>
					<div id="pass-info"></div>
				</section>
				<div class="input-group">
					<div class="checkbox">
						<label> <input id="login-remember" type="checkbox"
							name="remember_me" value="1"> <strong>Запомни ме</strong>
						</label>
					</div>
				</div>
				<div style="margin-top: 10px" class="form-group">
					<div class="col-sm-12 controls">
						<input id="blue_background" type="submit" class="btn btn-info" value="Влез" /> <a
							class="socialaccount_provider facebook" href="/accounts/facebook/login/?process=login" class="btn btn-info" role="button">Влез с
						Facebook</a>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12 control">
						<div style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
							Нямам акаунт! <a href="{% url 'signup' %}">
							Регистрирай се </a>
						</div>
					</div>
					<div class="col-md-12 control">
						<div style="padding-top:15px; font-size: 85%;">
							<a  href="#" data-toggle="modal" data-target="#myModal">Забравена парола?</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block queries %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</script>
{% endblock %}
