{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block page_title %}Sign up{% endblock %}
{% block content %}
<meta charset="utf-8">
<div id="signupbox" style="margin-top: 50px"
	class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-info">
		<div class="panel-heading" id="blue_background" >
			<div class="panel-title">Регистрация</div>
		</div>
		<div class="panel-body">
			<form id="signupform" class="form-horizontal" role="form" method="post" action="{% url 'signup' %}">
				{% csrf_token %}
				<div id="signupalert" style="display: none"
					class="alert alert-danger">
					<p>Error:</p>
					<span></span>
				</div>
				<div class="form-group">
					<label for="email" class="col-md-3 control-label" name="email">E-mail</label>
					<div class="col-md-9">
						<input type="email" class="form-control" name="email"
							placeholder="Email Address" required>
					</div>
				</div>
				<section ng-app="myApp" ng-controller="mainCtrl">
					<div class="form-group">
						<label for="password" class="col-md-3 control-label" name="password">Парола</label>
						{% verbatim %}
						<div class="col-md-9">
							<input type="{{inputType}}" class="form-control" name="pword"
								placeholder="Password" id="pword" required>
							{% endverbatim %}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-3"></div>
						<div class="col-md-9">
							<input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
							<label for="checkbox" ng-if="passwordCheckbox">
							Скрий паролата
							</label>
							<label for="checkbox" ng-if="!passwordCheckbox">
							Покажи паролата
							</label>
						</div>
						<div class="row">
							<div class="col-md-4 col-md-offset-2">
								<span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 символа<br>
								<span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Голяма буква
							</div>
							<div class="col-md-4">
								<span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Малка буква<br>
								<span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Цифра
							</div>
						</div>
					</div>
				</section>
				<div class="centered" style="border-top: 1px solid #999; padding-top:20px">
					<button type="submit" class="btn btn-primary" id="blue_background">Регистрирай се</button>
					<br>
					<br>
					<a href="/accounts/facebook/login/?process=login" class="btn btn-info socialaccount_provider facebook" id="blue_background" role="button">Влез с Facebook</a>
					<br>
					<br>
					<a href="{% url 'inst_signup' %}" class="btn btn-primary" role="button">Аз съм институция</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block queries %}
<script type="text/javascript" src="/static/js/registration_form.js"></script>
{% endblock %}
