{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block after_field_sets %}{{ block.super }}
    <a href="#" data-toggle="modal" data-target="#myModal" class="historylink">Инструкции за автоматично попълване на полета</a>
    
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Инструкции за автоматично попълване на полета</h4>
        </div>
        <div class="modal-body">
          <p>Ако потребителят е попълнил профила си с достатъчно информация, въпросните полета във формата могат да се попълват автоматично.</p>
          <p>Следните полета са резервирани:</p>
          <ul>
            <li>Първо име</li>
            <li>Фамилия</li>
            <li>Град</li>
            <li>Телефон</li>
            <li>Адред</li>
            <li>Email</li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
    {% if has_absolute_url %}
        <li>
            <a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a>
        </li>
    {% endif %}

{% endblock %}

{% block form_top %}
  <style>   
    h2{ 
      padding-left: 20px;
    }
              /*inline-group field_set-nested-inline  field_set-0          -nested-inline nested-inline cloned*/
    div[class^="inline-group field_set-nested-inline  field_set-"][class$="-nested-inline nested-inline"], 
    div[class^="inline-group field_set-nested-inline  field_set-"][class$="-nested-inline nested-inline cloned"] {
      margin-left: 50px;
      :not(h2){
        padding-left: 20px;
      }
    }
    #fieldset-1{
      margin-top: 7px;
    }
  </style>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
   <script>
      $(document).ready(function(){
        $(".alert-warning").html("<strong>Удебелените</strong> полета са задължителни.");      
        $(".inline-related h3").hide();
      });

      dataChanged = 0;
      function bindForChange(){    
           $('input,checkbox,textarea,radio,select').bind('change',function(event) {dataChanged = 1})
           $(':reset,:submit').bind('click',function(event) { dataChanged = 0 })
      }
      function askConfirm(){  
          if (dataChanged){ 
              return "You have some unsaved changes.  Press OK to continue without saving." 
          }
      }
      window.onbeforeunload = askConfirm;
      window.onload = bindForChange;

      function toggle_field_options_div(select, sel_option) {
        var field_id = select.attr('name').replace('field_set-', '').replace('-type', '');
        if(sel_option.attr("value") != 3 && sel_option.attr("value") != 4) { // select and radio
          $("input[id=id_field_set-"+field_id+"-form]").next().next().hide();
        } else {
          $("input[id=id_field_set-"+field_id+"-form]").next().next().show();
        }
      }

      function toggle_validation_field(select, sel_option) {
        var val_id = select.attr("name").replace('-type', '-validation_type');
        if(sel_option.attr("value") != 1) {
          $("select[id=id_"+val_id+']').parent().parent().parent().hide();
        } else {
          $("select[id=id_"+val_id+']').parent().parent().parent().show();
        }
      }

      function toggle_min_and_max_fields(select, sel_option) {
        var id = select.attr("name").replace('field_set-', '').replace('-type', '');
        if(sel_option.attr("value") != 1) {
          $("input[id=id_field_set-"+id+"-minimum").parent().parent().parent().hide();
        } else {
          $("input[id=id_field_set-"+id+"-minimum").parent().parent().parent().show();
        }

        if(sel_option.attr("value")!=1) {
          $("input[id=id_field_set-"+id+"-maximum").parent().parent().parent().hide();
        } else {
          $("input[id=id_field_set-"+id+"-maximum").parent().parent().parent().show();
        }
      }
      
      function voodoo(){
        $("select[id^='id_field_set-'][id$='-type']").change(function() {
            var sel = $(this);
            sel.find("option:selected").each(function() {
              toggle_field_options_div(sel, $(this));
              toggle_validation_field(sel, $(this));
              toggle_min_and_max_fields(sel, ($(this)));
            });
          }).change();
      }

      // ingenious hide/show field options depending on type buttons 
      $('div').on('click', '.inline-group', voodoo);
      $(document).ready(voodoo);

      // Drag and drop
      $(document).ready(function(){
        $("div[class='inline-group'][id^='field_set'], .nested-inline").sortable({cancel: 'h2, select, option, input, textarea'});

        $(".field-field_order").each(function(){$(this).hide();});
        $(".field-field_option_order").each(function(){$(this).hide();});
      });

      $("select").mousemove(function(e) {
        e.stopPropagation(); 
      });

      // goes through the inputs and sets their value incrementally
      function fill_inputs_automatically(regex) {
        var set = $("input").filter(function(){
          return regex.test($(this).attr("name"));
        });
        var length = set.length;
        var i = 0;
        set.each(function(){
          if(i >= length)
            return;
          var current = $(this);
          current.val(i.toString());
          current.hide();
          ++i;
        });
      }

      $("form").submit(function(){
        fill_inputs_automatically(/field_set\-\d+\-field_order/);
        fill_inputs_automatically(/field_set\-\d+\-fieldoption_set\-\d+\-field_option_order/);

        // hidden options could prevent the form from saving
        var s2 = $("input").filter(function(){
          var regex = /field_set\-\d+\-fieldoption_set\-\d+\-option/;
          return regex.test($(this).attr("name"));
        });

        // fill them with some non-empty value, they won't ever be displayed
        s2.each(function(){
          var current = $(this);
          if(!current.val()) current.val("foo"); 
        });
      });
    </script>
{% endblock %}