{% extends "admin/base_site.html" %}



{% block content %}
<script>
	$("#content").find(".navbar").hide();
</script>

<p>Моля изберете основното поле във Вашата форма.</p>
<p>То ще се използва, когато получавате email с обобщените за деня сигнали.</p>

<form action="{{ request.path }}" method="post">
	{% csrf_token %}
	<select name="main_field_name">
		{% for field in fields %}
			{% if field.name == form.main_field %}
				<option selected>{{ field.name }}</option>
			{% else %}
				<option>{{ field.name }}</option>
			{% endif %}
		{% endfor %}
	</select>
	<input type="submit">
</form>

{% endblock %}