{% extends "base.html" %} {% load i18n %} 

{% block page_title %}Insitutions leaderboard{% endblock %}

{% block content %}
<div class="container">
	<ul class="nav nav-tabs">
	    <li class="active"><a data-toggle="tab" href="#least-active">Най-неактивни</a></li>
	    <li><a data-toggle="tab" href="#most-active">Най-активни</a></li>
	    <li><a data-toggle="tab" href="#most-resolving">Най-много решени молби</a></li>
	    <li><a data-toggle="tab" href="#most-rejecting">Най-много отхвърлени</a></li>
	</ul>
	<br><br>
	<div class="tab-content">
		<div id="least-active" class="tab-pane fade in active">{% for institution in least_active_institutions %}{% include 'inst_render.html' %}{% endfor %}</div>
		<div id="most-active" class="tab-pane fade">{% for institution in most_active_institutions %}{% include 'inst_render.html' %}{% endfor %}</div>
		<div id="most-resolving" class="tab-pane fade">{% for institution in most_resolving_institutions %}{% include 'inst_render.html' %}{% endfor %}</div>
		<div id="most-rejecting" class="tab-pane fade">{% for institution in most_rejecting_institutions %}{% include 'inst_render.html' %}{% endfor %}</div>
		</div>
	</div> 
</div>
{% endblock %}
