{% extends "base.html" %} {% load i18n %}

{% block page_title %}Благодаря за регистрацията{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <p style="text-align:center">Вашият документ ще бъде разгледан възможно най-скоро!</p>
    </div>
</div>

{% endblock %}