{% extends "base.html" %} {% load i18n %}
{% block page_title %}Качване{% endblock %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<p style="text-align:center">Прикачете копие от документ, който Ви удостоверява като институция.<br> Документът ще бъде разгледан от системния администратор възможно най-скоро</p>
		<br>
		<br>
		<br>
		<div style="padding-left:40%">
			<form action="{% url "upload" institution_id %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div style="position:relative">
				<p>{{ form.non_field_errors }}</p>
				<p>{{ form.docfile.errors }}</p>
				<a class='btn btn-default' href='javascript:;' style="width:25%">
					<em >Избери файл...</em>
					<input id="id_docfile" name="docfile" type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
				</a>
				&nbsp;
				<span class='label label-info' id="upload-file-info"></span>
			</div>
			<br>
				<input type="submit" value="Прикачи" class="btn btn-info" id="blue_background" style="width:25%"/>
			</form>
		</div>
	</div>
</div>
{% endblock %}