<p><b>{{institution.name}}</b></p>
<div class="progress">
	<div class="progress-bar progress-bar-warning" role="progressbar" style="width:{{institution.get_pending_complaints_percentage}}%">
		{{institution.get_pending_complaints_count}} чакащи
 	</div>
 	<div class="progress-bar progress-bar-success" role="progressbar" style="width:{{institution.get_resolved_complaints_percentage}}%">
		{{institution.get_resolved_complaints_count}} решени
 	</div>
 	<div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{institution.get_rejected_complaints_percentage}}%">
		{{institution.get_rejected_complaints_count}} отхвърлени
 	</div>
</div>
