
{% extends "base.html" %} {% load i18n %}

{% block page_title %}Login{% endblock %}

{% block queries %}
<script>
	var myApp = angular.module('myApp', []);
	myApp.controller('mainCtrl', [ '$scope', function($scope) {

		// Set the default value of inputType
		$scope.inputType = 'password';
		// Hide & show password function
		$scope.hideShowPassword = function() {
			
			if ($scope.inputType == 'password')
				$scope.inputType = 'text';
			else
				$scope.inputType = 'password';
		};

	} ]);
</script>
{% endblock %}

{% block content %}
<script>
	var myApp = angular.module('myApp', []);
	myApp.controller('mainCtrl', [ '$scope', function($scope) {

		// Set the default value of inputType
		$scope.inputType = 'password';
		// Hide & show password function
		$scope.hideShowPassword = function() {
			
			if ($scope.inputType == 'password')
				$scope.inputType = 'text';
			else
				$scope.inputType = 'password';
		};

	} ]);
</script>
<meta charset="utf-8">
<div id="loginbox" style="margin-top: 50px;"
	class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Влез</div>
			<div
				style="float: right; font-size: 85%; position: relative; top: -10px">
				<a id="signinlink" href="/accounts/password/reset/"
					onclick="$('#signupbox').hide(); $('#loginbox').show()">Забравена парола</a>
			</div>
		</div>

		<div style="padding-top: 30px" class="panel-body">

			<div style="display: none" id="login-alert"
				class="alert alert-danger col-sm-12"></div>

			<form id="loginform" class="form-horizontal" role="form"
				method="post" action="/accounts/login">
				
				{% csrf_token %}

				<div style="margin-bottom: 25px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-user"></i></span> <input id="login-username"
						type="email" class="form-control" name="email" value=""
						placeholder="Email address" required />
				</div>

				<section ng-app="myApp" ng-controller="mainCtrl">
					<div style="margin-bottom: 25px" class="input-group">
					{% verbatim %}
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-lock"></i></span>
							<input type="{{inputType}}"
							placeholder="Password" class="form-control" name="password" value=""
							id="pword" required />
							{% endverbatim %}
					</div>
					<div id="pass-info"></div>
					<input type="checkbox" id="checkbox" ng-model="passwordCheckbox"
						ng-click="hideShowPassword()" /> <label for="checkbox"
						ng-if="passwordCheckbox">Скрий паролата</label> <label
						for="checkbox" ng-if="!passwordCheckbox">Покажи паролата</label>
				</section>


				<div class="input-group">
					<div class="checkbox">
						<label> <input id="login-remember" type="checkbox"
							name="remember_me" value="1"> <strong>Запомни ме</strong>
						</label>
					</div>
				</div>


				<div style="margin-top: 10px" class="form-group">
					<div class="col-sm-12 controls">
						<input type="submit" class="btn btn-info" value="Влез" /> <a
							class="socialaccount_provider facebook" href="/accounts/facebook/login/?process=login" class="btn btn-info" role="button">Влез с
							Facebook</a>
					</div>
				</div>


				<div class="form-group">
					<div class="col-md-12 control">
						<div
							style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
							Нямам акаунт! <a href="{% url 'signup' %}">
								Регистрирай се </a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


{% endblock %}
